.container {
	margin: 0 auto;
}

.index-title {
	text-align: center;
	font-size: 3vw;
}


/* main project card styling */

section h3 {
	color: #B2B2B5;
	font-size: 2vw;
	font-family: lato;
	font-weight: 300;
}

section h2 {
	color: black;
	font-size: 4vw;
	font-family: lato;
	font-weight: 300;
}

section p {
	color: black;
	font-size: 2vw;
	font-family: lato;
	font-weight: 300;
	line-height: 3vw;
}

img {
	max-height: 100%!important;
	max-width: 100%!important;
}

.face {
	width: 75%;
	padding: 3%;
	margin: 5%;
}

@media (max-width: 768px) {
	.face {
		width: 50%
	}
}

.journey {}


/* RESUME */

.resume {
	margin-top: -100px;
	height: 1050px;
}

.index-header {
	background: #363F62;
	width: 100%;
	color: #E6E6E9;
	margin-top: -10px;
	padding-top: 3%;
}

.index-header h2 {
	color: #E6E6E9;
	font-size: 3vw;
}

.index-header h1 {
	color: #E6E6E9;
	font-size: 5vw;
}

.index-header .contact {
	text-align: center;
	padding: 5%;
}

.index-header .contact a {
	text-align: center;
	line-height: 2em;
}

.index-header a {
	color: #E6E6E9;
	margin: 0 auto;
}

.button1 {
	align-self: left;
	padding: 3% 30% 3% 30%;
	margin-left: 3%;
	color: white;
	font-family: lato;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	background: #363F62;
	border-radius: 10px;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}

.button1:hover {
	background: #29304B;
}

.button1:active {
	transform: scale(1.025);
}

.img-responsive {
	padding-top: 10%;
	width: 100%;
	align-content: center;
}

@media (max-width: 600px) {
	.img-responsive {
		width: 75%;
		align-content: center;
	}
}

.index {
	align-content: center;
}

.process-img {
	align-content: center;
	width: 60%;
	margin: 0 auto;
}


/* logo style */


/* nav */

@media (max-width: 600px) {
	li.left:nth-child(1) {
		display: none;
	}
	.row {
		margin-top: 5%;
	}
}

li.left {
	float: left;
	width: 15%;
	margin: 0;
	padding: 5px;
	margin-left: 20px;
}

li.right {
	color: #9d9d9d;
	float: right;
	padding: 10px;
	margin-top: 10px;
}

.nav-up {
	top: -40px;
}

.videoCenter {
	margin: 0 auto;
	width: 600px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 25px;
	height: 0;
	text-align: center;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 25px;
}


/* social media buttons */

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
a,
a:hover {
	color: #000;
	text-decoration: none;
	padding: 5px;
}

.fa-linkedin::before {
	width: 20px;
}

.socialbtnsbtnsbtns,
.socialbtnsbtnsbtns ul,
.socialbtnsbtnsbtns li {
	margin: 0;
	padding: 15px;
	width: 50px;
	align-content: center;
}

.socialbtnsbtnsbtns li {
	list-style: none outside none;
	display: inline-block;
}

.socialbtns li {
	list-style: none outside none;
	display: inline-block;
	align-content: center;
}

.socialbtns .fa {
	color: #E6E6E9;
	text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
	-webkit-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
	-moz-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
	-o-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
	transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
	width: 25px!;
	height: 25px!;
	align-content: center;
	text-align: center;
	margin: 0 auto;
}

.socialbtns .fa:hover {
	color: #000;
	text-shadow: 1px 1px 0px #E6E6E9, 1px -1px 0px #E6E6E9, -1px 1px 0px #E6E6E9, -1px -1px 0px #E6E6E9;
	-webkit-text-shadow: 1px 1px 0px #E6E6E9, 1px -1px 0px #E6E6E9, -1px 1px 0px #E6E6E9, -1px -1px 0px #E6E6E9;
	-moz-text-shadow: 1px 1px 0px #E6E6E9, 1px -1px 0px #E6E6E9, -1px 1px 0px #E6E6E9, -1px -1px 0px #E6E6E9;
	-o-text-shadow: 1px 1px 0px #E6E6E9, 1px -1px 0px #E6E6E9, -1px 1px 0px #E6E6E9, -1px -1px 0px #E6E6E9;
	transition: all ease 0.5s;
	-moz-transition: all ease-in 0.5s;
	-webkit-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
}


/* grid */

.grid {
	position: relative;
	list-style: none;
	overflow: hidden;
	text-align: left;
}


/* Common style */

.grid figure {
	position: relative;
	margin-bottom: 31px;
	overflow: hidden;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	height: 100%;
	min-height: 100%;
	text-align: center;
	cursor: pointer;
}

.grid li img {
	/*position: relative;
	display: block;*/
	min-height: 100%;
	max-width: 100%;
	background-color: white;
	opacity: 0.75;
	/*-webkit-filter: blur(2px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(15px);
	filter: blur(2px);
	opacity: 0.35;*/
}

.grid figure figcaption {
	margin-top: 10px;
	padding: 0;
	background-color: black;
	color: white;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 1em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	line-height: 100%;
}

.grid figure figcaption header a {}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

.grid figure figcaption>a {
	z-index: 1000;
	text-indent: 200%;
	/*	white-space: nowrap;*/
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	color: #FFF;
	font-size: 8vw;
}


/*
.grid p {
	text-align: left;
}

.grid h2 {
	text-align: left;
}

.grid h3 {
	text-align: left;
}

.grid h1 {
	text-align: left;
}
*/

.grid figure h2 span {}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid p {
	font-size: 2vw;
	line-height: 22px;
	padding: 10px;
}


/* Individual effects */


/*---------------*/


/***** Oscar *****/


/*---------------*/

figure.effect-oscar {
	/*background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);

	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);*/
	background-color: #E6E6E9;
	display: table;
	align-content: center;
}

figure.effect-oscar img {
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	background-color: #E6E6E9;
}

figure.effect-oscar figcaption {
	padding: 2em;
	padding-top: 100%;
	background-color: #E6E6E9;
	display: table-caption;
	caption-side: top;
	/*
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
*/
}


/*
figure.effect-oscar figcaption::before {
	position: absolute;
	top: 200px;
	right: 200px;
	bottom: 200px;
	left: 200px;
	border: 1px solid #fff;
	content: '';
}

figure.effect-oscar h2 {
	color: black;
	font-weight: 300;
	margin-top: 350px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

figure.effect-oscar h2 span {
	font-weight: 100
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	font-weight: 400;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	padding-top: 10px;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(58, 52, 42, 0);
}

figure.effect-oscar:hover img {
	opacity: 0.5;
}
*/

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	figure.effect-oscar figcaption::before {
		left: 10px;
		right: 10px;
		top: 10px;
		bottom: 10px;
	}
	figure.effect-oscar figcaption {
		padding: 0em
	}
	figure.effect-oscar h2 {
		font-size: 20px;
	}
	figure.effect-oscar p {
		font-size: 13px;
		padding: 2%;
		display: block;
		width: 90%;
		margin: 0 auto;
	}
}

@media (max-width: 767px) {
	figure.effect-oscar figcaption::before {
		left: 10px;
		right: 10px;
		top: 10px;
		bottom: 10px;
	}
	figure.effect-oscar figcaption {
		padding: 0em
	}
	figure.effect-oscar h2 {
		font-size: 15px;
	}
	figure.effect-oscar p {
		font-size: 13px;
		padding: 2%;
		display: block;
		width: 90%;
		margin: 0 auto;
	}
}
