img {
	max-height: 100%!important;
	max-width: 100%!important;
}


/* RESUME */

.resume {
	margin-top: -100px;
	height: 1050px;
}


/* logo style */

.annie {
	width: 100px;
}

.fun-img {
	padding: 10px;
}

.fun {
	margin-top: 10%;
	padding: 10px;
}


/* nav */

@media (max-width: 800px) {
	li.left {
		float: left;
		width: 86px;
	}
}

li.left {
	float: left;
	max-width: 200px;
	margin: 0;
	padding: 10px;
	margin-left: 20px;
}

li.right {
	color: #9d9d9d;
	float: right;
	padding: 10px;
}

.nav-up {
	top: -40px;
}


/* video style */


/*
.videoWrapper {
	position: relative;
	 16:9 
	padding-top: 25px;
	width: 100%;
	text-align: center;
	margin-bottom: 5%;
}

.videoWrapper video,
.videoWrapper embed,
.videoWrapper object {
	position: relative;
	top: 0;
	left: 0;
	max-height: auto;
	max-width: 100%;
}
*/

.videoCenter {
	margin: 0 auto;
	width: 600px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 25px;
	height: 0;
	text-align: center;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 25px;
}


/* social media buttons */

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
a,
a:hover {
	color: #000;
	text-decoration: none;
	padding: 5px;
}

.fa-linkedin::before {
	width: 20px;
}

.socialbtnsbtnsbtns,
.socialbtnsbtnsbtns ul,
.socialbtnsbtnsbtns li {
	margin: 0;
	padding: 15px;
	width: 50px;
	align-content: center;
}

.socialbtnsbtnsbtns li {
	list-style: none outside none;
	display: inline-block;
}

.socialbtns li {
	list-style: none outside none;
	display: inline-block;
	align-content: center;
}

.socialbtns .fa {
	color: #FFF;
	text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
	-webkit-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
	-moz-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
	-o-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
	transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
	width: 25px!;
	height: 25px!;
	align-content: center;
	text-align: center;
	margin: 0 auto;
}

.socialbtns .fa:hover {
	color: #000;
	text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff, -1px -1px 0px #fff;
	-webkit-text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff, -1px -1px 0px #fff;
	-moz-text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff, -1px -1px 0px #fff;
	-o-text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff, -1px -1px 0px #fff;
	transition: all ease 0.5s;
	-moz-transition: all ease-in 0.5s;
	-webkit-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
}


/* grid */

.grid {
	position: relative;
	list-style: none;
	overflow: hidden;
	text-align: center;
}


/* Common style */

.grid figure {
	position: relative;
	margin-bottom: 31px;
	overflow: hidden;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	height: 100%;
	min-height: 100%;
	text-align: center;
	cursor: pointer;
}

.grid li img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	background-color: black;
	opacity: 0.75;
	/*-webkit-filter: blur(2px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(15px);
	filter: blur(2px);
	opacity: 0.35;*/
}

.grid figure figcaption {
	margin-top: 10px;
	padding: 0;
	background-color: black;
	color: white;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 1em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	line-height: 100%;
}

.grid figure figcaption header a {}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

.grid figure figcaption>a {
	z-index: 1000;
	text-indent: 200%;
	/*	white-space: nowrap;*/
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	color: #FFF;
}

.grid figure h2 span {}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 16px;
	line-height: 22px;
}


/* Individual effects */


/*---------------*/


/***** Oscar *****/


/*---------------*/

figure.effect-oscar {
	/*background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);

	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);*/
	background-color: white;
	display: table;
}

figure.effect-oscar img {
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	background-color: rgba(58, 52, 42, 1);
}

figure.effect-oscar figcaption {
	padding: 2em;
	padding-top: 100%;
	background-color: rgba(58, 52, 42, 0);
	display: table-caption;
	caption-side: top;
	/*
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
*/
}


/*
figure.effect-oscar figcaption::before {
	position: absolute;
	top: 200px;
	right: 200px;
	bottom: 200px;
	left: 200px;
	border: 1px solid #fff;
	content: '';
}

figure.effect-oscar h2 {
	color: black;
	font-weight: 300;
	margin-top: 350px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

figure.effect-oscar h2 span {
	font-weight: 100
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	font-weight: 400;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	padding-top: 10px;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(58, 52, 42, 0);
}

figure.effect-oscar:hover img {
	opacity: 0.5;
}
*/

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	figure.effect-oscar figcaption::before {
		left: 10px;
		right: 10px;
		top: 10px;
		bottom: 10px;
	}
	figure.effect-oscar figcaption {
		padding: 0em
	}
	figure.effect-oscar h2 {
		font-size: 20px;
	}
	figure.effect-oscar p {
		font-size: 13px;
		padding: 2%;
		display: block;
		width: 90%;
		margin: 0 auto;
	}
}

@media (max-width: 767px) {
	figure.effect-oscar figcaption::before {
		left: 10px;
		right: 10px;
		top: 10px;
		bottom: 10px;
	}
	figure.effect-oscar figcaption {
		padding: 0em
	}
	figure.effect-oscar h2 {
		font-size: 15px;
	}
	figure.effect-oscar p {
		font-size: 13px;
		padding: 2%;
		display: block;
		width: 90%;
		margin: 0 auto;
	}
}
