.resp-container {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
	margin-top: 20%;
}

.resp-iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}


/*
#header {
	top: 0px;
	position: fixed;
	height: 50px;
	display: block;
	width: 100%;
	background: rgba(76, 175, 80, 0.0);
	z-index: 9;
	text-align: center;
	color: #333;
	padding: 20px 0 0 0;
}
*/


/*
#menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

#menu li {
	display: inline-block;
	color: #000;
	background: rgba(255, 255, 255, 0.0);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#menu li a,
#menu li.active a {
	padding: 9px 18px;
	display: block;
}

li.left {
	width: 50%;
	float: left;
}

li.right {
	width: 10%;
	float: right;
}

.center {
	width: 50%;
	float: left;
	text-align: center
}

.img-container img {
	width: 100%
}*/


/* Transition animations */


/*
#section2 #section3>.fp-tableCell img {
	transform: translateY(1000px);
	opacity: 0;
	transition: transform .66s cubic-bezier(0.16, 0.68, 0.43, 0.99), opacity .66s ease-in-out;
}

#section2.active #section3.active>.fp-tableCell img {
	transform: translateY(0);
	opacity: 1;
}

#section2.active #section3.active>.fp-tableCell img {
	transition-delay: .22s;
}

.section-two.active .slide-two.active>.fp-tableCell p+p {
	transition-delay: .44s;
}*/


/* social media buttons */


/*
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
a,
a:hover {
	color: #000;
	text-decoration: none;
	padding: 5px;
}

.fa-linkedin::before {
	width: 20px;
}

.socialbtnsbtnsbtns,
.socialbtnsbtnsbtns ul,
.socialbtnsbtnsbtns li {
	margin: 0;
	padding: 15px;
	width: 50px;
	align-content: center;
}

.socialbtnsbtnsbtns li {
	list-style: none outside none;
	display: inline-block;
}

.socialbtns li {
	list-style: none outside none;
	display: inline-block;
	align-content: center;
}

.socialbtns .fa {
	color: #E6E6E9;
	text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
	-webkit-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
	-moz-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
	-o-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
	transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
	width: 25px!;
	height: 25px!;
	align-content: center;
	text-align: center;
	margin: 0 auto;
}

.socialbtns .fa:hover {
	color: #000;
	text-shadow: 1px 1px 0px #E6E6E9, 1px -1px 0px #E6E6E9, -1px 1px 0px #E6E6E9, -1px -1px 0px #E6E6E9;
	-webkit-text-shadow: 1px 1px 0px #E6E6E9, 1px -1px 0px #E6E6E9, -1px 1px 0px #E6E6E9, -1px -1px 0px #E6E6E9;
	-moz-text-shadow: 1px 1px 0px #E6E6E9, 1px -1px 0px #E6E6E9, -1px 1px 0px #E6E6E9, -1px -1px 0px #E6E6E9;
	-o-text-shadow: 1px 1px 0px #E6E6E9, 1px -1px 0px #E6E6E9, -1px 1px 0px #E6E6E9, -1px -1px 0px #E6E6E9;
	transition: all ease 0.5s;
	-moz-transition: all ease-in 0.5s;
	-webkit-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
}*/
